{% extends 'master.twig' %}
{% import '_course_date_macros.twig' as course_macros %}
{% import _self as self %}

{% set page_theme = 'dv' %}

{# TODO: breadcrumbs #}

{% block page_title %}{{ page_title }}{% endblock %}

{% block main_content %}

	<h2>Info o kurzech obecně</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid consequatur cumque dolore ducimus ea eos
		id iusto, laboriosam necessitatibus nostrum odio omnis praesentium quibusdam ratione reiciendis sequi, unde
		voluptatem.</p>

	<section class="courses" id="courses">

		{% if avail_courses %}<h2>Dostupné kurzy:</h2>{% endif %}

		{% for course in avail_courses %}

			{% macro one_course( course, course_macros, due ) %}
				<a href="{{ course.link }}" class="courses__course">
					<div class="panel panel-{{ due ? 'default' : 'primary' }}">
						<div class="panel-heading"><h3>{{ course.title }}</h3></div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-8">
									<dl class="dl-horizontal">
										<dt>Uzávěrka přihlášek</dt>
										{% if not due %}
											<dd>{{ course_macros.maybe_critical_date( course ) }}</dd>
										{% else %}
											<dd>{{ course.getFormatedSignupCloseDate }}</dd>
										{% endif %}
										{% if course.course_realization %}
											<dt>Termín kurzu</dt>
											<dd>{{ course.course_realization }}</dd>
										{% endif %}
										{% if course.acreditation_number %}
											<dt>Číslo akreditace</dt>
											<dd>{{ course.acreditation_number }}</dd>
										{% endif %}
									</dl>
								</div>
								{% if not due %}
									<div class="col-xs-4 text-right">
										<span href="{{ course.link }}" class="btn btn-lg btn-{{ course_macros.button_class( course ) }}">Volných míst: <strong>{{ course.getCourseFreePlaces }}</strong></span>
									</div><!-- /.col -->
								{% endif %}
							</div><!-- /.row -->
						</div><!-- /.panel-body -->
					</div><!-- /.panel -->
				</a><!-- /.courses__course -->
			{% endmacro %}
			{{ self.one_course( course, course_macros, false ) }}

		{% endfor %}

		{% if due_courses %}<h2>Minulé kurzy:</h2>{% endif %}

		{% for course in due_courses %}

			{{ self.one_course( course, course_macros, true ) }}

		{% endfor %}

	</section>

{% endblock %}