{% extends 'master.twig' %}
{% import '_course_date_macros.twig' as course_macros %}

{% set page_theme = 'dv' %}

{% block main_content %}

	<section class="courses" id="courses">

		<div class="courses__course">
			<div class="panel panel-primary">
				{#<!--<div class="panel-heading"><h3>Studium pedagogiky [blížící se termín uzávěrky přihlášek]</h3></div>-->#}
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-8">
							<dl class="dl-horizontal">
								<dt>Uzávěrka přihlášek</dt>
								<dd><strong class="text-danger">{{ course_macros.maybe_critical_date( post ) }}</strong></dd>
								{% if post.course_realization %}
									<dt>Termín kurzu</dt>
									<dd>{{ post.course_realization }}</dd>
								{% endif %}
								{% if post.acreditation_number %}
									<dt>Číslo akreditace</dt>
									<dd>{{ post.acreditation_number }}</dd>
								{% endif %}
								{% if post.formatCoursePrice %}
									<dt>Cena</dt>
									<dd>{{ post.formatCoursePrice }}</dd>
								{% endif %}
								{% if post.lesson_count %}
									<dt>Počet hodin</dt>
									<dd>{{ post.lesson_count }}</dd>
								{% endif %}
								{% if post.teacher %}
									<dt>Lektor</dt>
									<dd>{{ post.teacher }}</dd>
								{% endif %}
								{% if post.students_count %}
									<dt>Počet uchazečů</dt>
									<dd>{{ post.students_count }}</dd>
								{% endif %}
								{% for attribute in post.getAditionalAttributes() %}
									<dt>{{ attribute.name }}</dt>
									<dd>{{ attribute.value }}</dd>
								{% endfor %}
							</dl>
						</div>
						{% if not post.isSignupDue() %}
							<div class="col-xs-4 text-right">
								<button type="button" data-scroll-to="#coursesSignForm" class="courses__course__signButton btn btn-lg btn-{{ course_macros.button_class( post ) }}">Volných míst: <strong>{{ post.getCourseFreePlaces() }}</strong></button>
							</div><!-- /.col -->
						{% endif %}
					</div><!-- /.row -->
				</div><!-- /.panel-body -->
			</div><!-- /.panel -->
		</div><!-- /.courses__course -->

	</section><!-- /.courses -->

	{{ post.content }}

	{% if form %}
		{% include '_course_detail_form.twig' %}
	{% else %}
		<hr>
		<p class="text-center"><strong class="text-warning">{{ sign_closed_reason }}</strong></p>
	{% endif %}

{% endblock %}